.heading {
	@apply font-bold leading-tight font-heading tracking-tight;
}

.heading--h1 {
	font-size: clamp(
		theme("fontSize.5xl"),
		2.6359rem + 1.5534vw,
		theme("fontSize.7xl")
	);
}

.heading--h2 {
	font-size: clamp(
		theme("fontSize.3xl"),
		1.7573rem + 1.0356vw,
		theme("fontSize.5xl")
	);
	@apply leading-tight;
}

.heading--h3 {
	font-size: clamp(
		theme("fontSize.2xl"),
		1.318rem + 0.7767vw,
		theme("fontSize.4xl")
	);
	@apply leading-snug;
}

.body-large {
	font-size: clamp(
		theme("fontSize.lg"),
		1.034rem + 0.3883vw,
		theme("fontSize.2xl")
	);
	@apply leading-relaxed;
}

.body-normal {
	@apply text-base;
}

.btn {
	@apply px-20 py-3 rounded-full font-heading font-bold tracking-wider transition-colors;
}

.btn--primary {
	@apply bg-primary text-white hover:bg-primary-hover;
}
